body {
  font-family: 'Crimson Pro', serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

.banner-image {
  width: 150px;
  /* height: 128px; */
  object-fit: cover;
  border-radius: 5px;
}

.link-thumbnail {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  object-fit: cover;
}
